.w{
	width:633px;
	margin:0 auto;
}

.clearfix{
	zoom:1;
}

.clearfix:after{
	content:'';
	display:block;
	clear:both;
}

.header{
	background:#1d7ad9;
	padding:15px 0 13px 0;
}

.header .logo{
	float:left;
	padding-left:61px;
}

.header .welcome{
	float:left;

}

.header .welcome h1{
	font:700 22px 'microsoft yahei';
	color:#fff;
	padding-top:22px;
	padding-left:24px;
}

.register{
	border:1px solid #e8e8e8;
	margin-top:15px;
	padding:68px 151px 55px 104px;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}

.fore{
	margin-bottom:31px;
	overflow:hidden;
}

.register .dt{
	width:94px;
	color:#999;
	line-height:38px;
	float:left;
	text-align:right;
	margin-right:10px;
	font-size:14px;
}

.register .dt span{
	margin-right:5px;
	color:#f00;
}

.dd{
	float:left;
	width:268px;
	height:36px;
	border:1px solid #999;
	position:relative;
}

.input{
	padding:9px 32px 9px 5px;
	width:231px;
	height:18px;
	line-height:18px;
	font-size:14px;
	color:#999;
}




.fore label,.fore label{
	position:absolute;
	width:40px;
	height:32px;
	right:0;
	top:0;
	background:url("../icon/pass.png") no-repeat center;
}

.uid label{
	background:url("../icon/user.jpg") no-repeat center;
}

.agreement{
	text-align:center;
	margin-top:54px;
	height:16px;
}

.agreement a {
	color:#005aa0;
}
.chkbox{
	vertical-align:middle;
}


.register-btn{
	margin-top:30px;
	text-align:center;
	padding-left:60px;
}

.register-btn .btn{
	font:700 16px/34px 'microsoft yahei';
	width:272px;
	height:38px;
	text-align:center;
	color:#606060;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}

