@charset "utf-8";
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{
	margin:0;
	padding:0;
}

body{
	font:12px 'Arial',simsun,'microsoft yahei';
}

img{
	border:none;
	vertical-align:middle;
}

li{
	list-style-type:none;
}

input,select,textarea{
	outline:none;
	border:none;
}

textarea{
	resize:none;
}

a{
	color:#666;
	text-decoration:none;
}

i,em,b{
	 font-style:normal;
}

input,button{
	border:none;
	outline:none;
}

