<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.DiscussionMapper" >
	<select id="findTopTen" resultMap="DiscussionMP">
		select * from discussion order by up_num limit 0 , 9
	</select>
	<select id="findOne" resultMap="DiscussionMP">
		select * from discussion where discussion_id = #{discussionId}
	</select>
	
	<select id="findDiscussionByUserId" resultMap="DiscussionMP">
		select * from discussion where discussion_id = #{userId}
	</select>
	
		
	<resultMap type="Discussion" id="DiscussionMP">
		<id column="discussion_id" property="discussionId"/>
		<result column="user_id" property="userId"/>
		<result column="create_time" property="createTime"/>
		<result column="last_update_time" property="lastUpdateTime"/>
		<result column="up_num" property="upNum"/>
		<result column="down_num" property="downNum"/>
		<result column="reply_num" property="replyNum"/>
	</resultMap>
	
</mapper>