body{
	background:#f0f0f0;
}

.crumb{
	padding:12px 0;
}

.crumb .crumb-left{
	line-height:1.5;
	color:#555;
}

.crumb-left a{
	float:left;
}

.crumb-left .seq{
	margin:0 7px 0 8px;
}

.crumb .fp,.crumb .fseq{
	font-weight:700;
}

.product-intro{
	margin-bottom:14px;
	
}

.product-intro-inner{
	border:1px solid #ccc;
	background:#fff;
}

.preview-wrap{
	width:309px;

	background:#fff;
	height:100%;
}

.spec-items{
	width:266px;
	overflow:hidden;
	margin:0 auto;
}

.lh{
	width:2000px;
	padding-left:1px;
	
	overflow:hidden;
}

.lh li{
	float:left;
	border:1px solid #ccc;
	margin-left:-1px;
	
}

.lh .image-hover{
	border-color:#317ee7;
	position:relative;
	z-index:2;
}

.itemInfo-wrap{
	border-left:1px solid #ccc;
	background:#fff;
	width:679px;
	float:left;
	padding:23px 0 16px 9px;
	color:#666;
	
}

.itemInfo-wrap .dt{
	float:left;
	line-height:22px;
}

.itemInfo-wrap .dd{
	margin-left:58px;
	overflow:hidden;
}

.info-wrap{
	padding-left:17px;
}

.product-name{
	font:700 16px 'microsoft yahei';
	color:#000;
	margin-bottom:12px;
	
}

.product-price{
	margin-bottom:15px;
}
.product-price .dd{
	color:#d70000;
	
}
.product-price .price{
	font:700 22px/22px 'microsoft yahei';

}
.promotion{
	line-height:22px;
	margin-bottom:12px;
}
.promotion .promo{
	display:inline-block;
	height:18px;
	line-height:18px;
	padding:0 4px 0 14px;
	background:url("../icon/yellow_arrow.png");
	color:#fff;
}

.stock .dd{
	overflow:hidden;
}

.stock-address{
	margin-bottom:16px;
	margin-right:10px;
	float:left;
}

.stock-prompt{
	line-height:22px;	
}
.stock-address .head{
	height:22px;
	line-height:22px;
	float:left;
	position:relative;
	cursor:pointer;
	border:1px solid #bfbfbf;
	padding-left:6px;
	padding-right:26px;
	
}

.stock-address .arrow{
	position:absolute;
	width:8px;
	height:4px;
	right:9px;
	top:9px;
	background:url("../icon/blue_caret_down.png") no-repeat;
}
.p-choose-1,.p-choose-2{
	margin-bottom:8px;
}
.choose-attrs .dt{
	line-height:32px;
}
.choose-attrs .item{
	float:left;
	margin-right:10px;
	margin-bottom:8px;
}


.choose-attrs .item a{
	color:#000;
	float:left;
	height:32px;
	line-height:32px;
	padding:0 32px 0 27px;
	border:1px solid #ccc;
}

.p-choose-2 .item a{
	height:24px;
	line-height:24px;
	padding:0 9px 0 6px
}


.choose-attrs .item .chosen{
	border-color:#317ee7;
}

.choose-amount{
	width:82px;
	height:32px;
	border:1px solid #ccc;
	float:left;
	overflow:hidden;
	margin-right:11px;
}

.buy-num{
	float:left;
	width:50px;
	height:32px;
	text-align:center;
	line-height:32px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

.wrap-input .add,.wrap-input .reduce{
	float:left;
	width:15px;
	line-height:32px;
	text-align:center;
	background:#f3f3f3;
}

.choose-btn .dt,.choose-btn .limit{
	line-height:34px;
}

.max-num{
	color:#fc7700;
}

.place-order{
	width:654px;
	background:#f2f2f2;
	padding:20px 0 25px 17px;
	margin-bottom:22px;
}

.chosen-info{
	padding:22px 0 12px 19px;
}

.chosen-info span{
	color:#0479ca;
}

.buy-action{
	height:90px;
	overflow:hidden;
	padding-left:58px;
	margin-bottom:20px;
}

.btn-add,.btn-buy,.buy-spacer{
	float:left;

}

.btn-add,.btn-buy{
	margin-top:20px;
	position:relative;
}
.buy-spacer{
	background:#e5e5e5;
	height:90px;
	width:2px;
	margin:0 40px;
}

.btn-add a,.btn-buy a{
	display:block;
	height:48px;
	font:700 20px/48px 'microsoft yahei';
	padding:0 16px 0 68px;
	background:#f98700;
	
	color:#fff;

	
}

.btn-add i,.btn-buy i{
	position:absolute;
	width:23px;
	height:20px;
	left:30px;
	top:13px;
	background:url("../icon/settleup.png");
}

.invoice{
	padding-left:22px;
	
}

.aside{
	width:190px;
	margin-right:24px;
	
}

.m-aside{
	width:188px;
	border:1px solid #ccc;
	border-top:3px solid #1d86cf;
	margin-bottom:10px;
}

.aside .dt{
	height:39px;
	text-align:center;
	background:#f3f3f3;
	font:700 14px/39px 'microsoft yahei';
	border-bottom:1px solid #ccc;
}

.aside .dd{
	background:#fff;
}

.aside .p-pic{
	margin-bottom:11px;
}

.aside .p-text{
	padding:0 16px 0 22px;
}

.aside .p-name{
	color:#f3f3f3;
	font:12px/18px simsun;
}

.aside .p-price{
	color:#de0000;
	font:700 12px/18px 'microsoft yahei';
}

.detail{
	width:786px;

}

.tab-main li{
	float:left;
	height:39px;
	width:391px;
	background:#f3f3f3;
	border:1px solid #ccc;
	text-align:center;
	position:relative;
}

.tab-main li.hover{
	height:41px;
	width:393px;
	background:#0479ca;
	border:medium none;
}

.tab-main a{
	display:inline-block;
	height:39px;
	font-size:14px;
	color:#000;
	line-height:39px;
	padding-left:31px; 
	position:relative;
}

.tab-main li.hover a{
	color:#fff;
	line-height:41px;
	height:41px;
}

.tab-main i{
	position:absolute;
	left:0;
	top:10px;
	width:18px;
	height:18px;
	background:url("../icon/tab_main_bg_03.png")no-repeat;
}

.intro-main{
	padding:0 21px;
	border:1px solid #ccc;
	border-top:medium none;
	background:#fff;
}
.intro-pic-1{
	padding: 30px 0 40px 102px;
}

.intro-text{
	width:747px;
}

.intro-title{
	border-bottom:2px solid #ccc;
	
	
}

.intro-title h3{
	display:inline-block;
	width:73px;
	font:700 16px/34px 'microsoft yahei';
	color:#2457a6;
	margin-right:16px;
	border-bottom:2px solid #2457a6;
	margin-bottom:-2px;
	position:relative;
}

.intro-title span{
	padding-top:12px;
	font:700 12px 'microsoft yahei';
}

.intro-content{
	padding-top:18px;
	line-height:22px;
	font-size:14px;
	margin-bottom:50px;
}

.intro-pic-2{
	padding-bottom:47px;
}

.comment{
	width:784px;
	background:#fff;
	margin-top:15px;
	border:1px solid #ccc;
}

.mt{
	padding:12px 0;
	font:700 14px/1 'simsun';
	color:#666;
	text-indent:1em;
}

.mc{
	width:100%;
}
.comment-info{
	padding:22px 0 57px 12px;
}	

.score-info,.score-meter{
	float:left;
}

.score-info{
	font:700 18px/1 'microsoft yahei';
	margin-right:10px;
}
.score{
	color:#ff8f00;
	font:700 50px/1 'microsoft yahei'; 
}

.comment-list-tit{
	background:#f2f2f2;
	
}
.comment-list-tit li{
	float:left;
	
}

.comment-list-tit li a{
	display:block;
	height:32px;
	line-height:32px;
	padding:0 26px;
	color:#000;
}

.comment-list-tit .order{
	float:right;
}

.comment-list-tit .order a{
	float:left;
	display:block;
	padding-left:6px;
	padding-right:19px;
	height:20px;
	line-height:20px;
	border:1px solid #ccc;
	margin-top:4px;
	margin-right:8px;
	position:relative;
}
.comment-list-tit .order i{
	position:absolute;
	width:9px;
	height:10px;
	right:6px;
	top:6px;
	background:url("../icon/arrow_down.png") no-repeat;
}
.comment-list-tit .order .new{
	width:26px;
	height:14px;
	top:-13px;
	left:40px;
	background:url("../icon/new.png") no-repeat;
}


.comment-list-content li{
	width:722px;
	height:98px;
	padding:18px 22px 19px 41px;
	
}

.c-left{
	float:left;
	width:60px;
	
}

.avatar{
	margin-bottom:9px;
}

.u-id,.u-member{
	text-align:center;
}

.u-id{
	margin-bottom:5px;
}

.c-right{
	padding-left:70px;
	width:590px;
	
}

.u-rank{
	width:100%;
	overflow:hidden;
	margin-bottom:20px;
}

.u-rank .u-star{
	display:inline-block;
	width:75px;
	height:13px;
	background:url("../icon/stars.jpg") no-repeat;
}
.comment-con{
	margin-bottom:16px;
}

.page{
	margin:35px 14px 35px 0;

	
}
.page .page-num a,.page .pn-break,.page input,.page .btn {
	display:inline-block;
	height:26px;
	line-height:26px;
	border:1px solid #c9c9c9;

}

.page input{
	width:32px;
	height:26px;
	line-height:26px;

	text-align:center;
	vertical-align:bottom;
	margin-bottom:1px;
}

.page .page-num a,.page .pn-break,.page .btn{
	padding:0 12px;
}

.page .page-num a{
	color:#000;
}

.page .page-num .curr{
	color:#f00;
}

.page .pn-break{
	color:#99a5c2;
	border: medium none;

}

.consult{
	margin-top:15px;
	background:#fff;
}

.consult-hd{
	border-bottom:1px solid #0688ba;
}

.consult-tab li{
	float:left;
	margin-bottom:-1px;
	background:#fff;
}

.consult-tab li a{
	display:block;
	height:34px;
	line-height:34px;
	border:1px solid #0688ba;
	border-bottom-color:transparent;
	padding-left:18px;
	padding-right:14px;
} 

.all-consult a{
	color:#085c9b;

}

.all-consult{
	margin-right:25px;
	margin-top:12px;
}

.consult-bd{
	padding:10px 12px 20px 21px;
	
}

.consult-bd .tip{
	padding:6px 14px 0 20px;
	background:#f3f3f3;
	line-height:24px;
	color:#777;
}

.consult-con li{
	padding:28px 20px 9px 46px;
	overflow:hidden;
}

.consult-con .item-l{
	width:82px;
	height:115px;
}

.c-pic{
	padding-left:6px;
	padding-bottom:7px;
}

.c-name{
	margin-bottom:8px;
}

.item-r{
	width:605px;
	height:115px;
	-webkit-transform:matrix();
}

.c-hd{
	overflow:hidden;
}

.c-quest{
	font:700 12px/18px 'miccrosoft yahei';
	color:#333;
	margin-bottom:10px;
}

.c-con{
	text-indent:0.5em;
	color:#777;
	margin-bottom:13px;
}

.c-reply{
	background:#f1f1f1;
	height:56px;
	text-indent:29px;
	vertical-align:middle;
}

.c-reply img{
	height:100%;
	vertical-align:middle;
	visibility:hidden;
	display:-webkit-box;
}
