<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/reset.css"/>
<link rel="stylesheet" href="/css/base.css"/>
<link rel="stylesheet" href="/css/index.css"/>

<title>朋友社区</title>

</head>
<body style="height: 2000px;">
    <div class="topbar" id="top">
        <div class="w clearfix">
            <div class="fav fl">
                <a href="#" class="fav-icon">收藏star论坛</a>
            </div>
            <div class="login fr">
            <div th:if="${session.userMsg!=null}">
	            <div th:text="${session.userMsg.name}"></div>
	            <div><a th:href="@{/homePage}">个人主页</a></div>
            </div>
               欢迎来到star论坛!&nbsp;&nbsp;
                <div th:if="${session.userMsg==null}">
	                <a href="/toLogin" id="login">[登陆]</a>
	                <a href="/toRegister" id="register">[免费注册]</a>                
                </div>
            </div>
        </div>
    </div>
    <div class="header" id="header">
        <div class="w">
            <div class="header-inner clearfix">
                <div class="logo" id="logo">
                    <h1>
                        <a href="#">慕课</a>
                    </h1>
                </div>
                <div class="search" id="search">
                    <div class="form">
                        <input type="text" id="searchTxt" class="text"/>
                        <button class="btn">搜索</button>
                    </div>

                </div>
                <div class="settleup cw-icon">
                    <i class="ci-left"></i>
                    <span>广告位</span>                    
                </div>
            </div>
        </div>
    </div>
    <div><a th:href="@{/discussion/toCreate}">创建讨论</a></div>
    <div>top10</div>
   <div th:each="discussion:${discussions}">
   	<a th:href="@{/discussion/toDiscussion(discussionId=${discussion.discussionId})}" th:text="${discussion.name}"></a>
   </div>
</body>
</html>