<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>userlist</title>
</head>
<body>
	<form th:action="@{/download}" method="post">
		<table border="1">
			<caption>人员信息列表</caption>
			<tr>
				<td>id</td>
				<td>name</td>
				<td>sex</td>
				<td>age</td>
				<td>birthday</td>
				<td>pic</td>
				<td>删除</td>
			</tr>
			<tr th:each="user,userStat:${usersLise}">
				<td><span th:text="${userStat.count}"></span><input type="checkbox" name="userId" th:value="${user.userId}"/></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.sex}"></td>
				<td th:text="${user.age}"></td>
 				<td th:text="${#dates.format(user.birthday,'yyyy-MM-dd')}"></td>
				<td><img th:src="@{/img(userId=${user.userId})}"alt="照片" width="100px" height="100px"></td>
				<td><a th:href="@{/delete(iuserId=${user.userId})}">删除</a>
				<a th:href="@{/toEdit(userId=${user.userId})}">修改</a></td>
			</tr>
		</table>
		<a th:href="@{/toAdd}">增加</a>
		<input type="submit" value="下载"/>
	</form>
</body>
</html>