<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>userlist</title>
</head>
<body>
	<form th:action="@{/edit}" method="post" enctype="multipart/form-data">
		<table border="1">
			<caption>人员信息列表</caption>
			<tr>
				<td>id</td>
				<td>name</td>
				<td>sex</td>
				<td>age</td>
				<td>birthday</td>
				<td>照片</td>
			</tr>
			<tr>
				<td><input name="id" th:value="${user.id}"></td>
				<td><input name="name" th:value="${user.name}"></td>
				<td><input name="sex" th:value="${user.sex}"></td>
				<td><input name="age" th:value="${user.age}"></td>
   				<td><input name="birthday" th:value="${#dates.format(user.birthday,'yyyy-MM-dd')}"></td>
   				<td><img th:src="@{/img(id=${user.id})}" alt="照片" width="100px" height="100px"><input type="hidden" name="pic" th:value="user.pic">
   				<input name="user_pic" type="file" ></td>
			</tr>
		</table>
		<input type="submit" value="提交">
	</form>

</body>
</html>